<link rel="stylesheet" href="{{ "css/quote.css" | absURL }}">

<div class="segment">

    <div class="blue-rectangle flex">

        <div class="left-segment w-2/3">

            <h1>Let’s make things happen</h1>

            {{ with .Site.GetPage "portfolio.md" }}
            <p class="quote-text">
            {{ .Content }}
            </p>
            {{ end }}
    
            <button class="get-started text-white font-bold py-2 px-4">
                Get Started
              </button>

        </div>


        <div class="right-segment w-1/3">
            <img class="img-rectangle" src="{{ "/img/illustration.png" | absURL }}" alt="Logo">
        </div>

    </div>



</div>    