<link rel="stylesheet" href="{{ "css/services.css" | absURL }}">

<div class="services">
  <div class="top-text">
    <h1 class="flex justify-center header-services">Services</h1>
    <p class="flex justify-center text-white">
      At Hoogman Digital, we offer a range of services to help you achieve your
      digital goals. Our services include:
    </p>
  </div>
  <div class="card-section">
    <div id="card-up">
      <div id="card1 card-border border border-solid border-black-500">
        <div class="card-img">
            <img src="{{ "/img/services/uiux.jpg" | absURL }}" alt="Logo">
        </div>
        <h1 class="card-title">UI/UX design</h1>
        <div class="card-middle">
          <p>
            Our team will develop a website that is fast, secure, and optimized for search engines.
          </p>
        </div>
        <div id="card-bottom">
          <a href="#">View more</a>
        </div>
      </div>

      <div id="card1 border border-solid border-black-500">
        <div class="card-img">
            <img src="{{ "/img/services/webdev.jpg" | absURL }}" alt="Logo">
        </div>
        <h1 class="card-title">Website development</h1>
        <div class="card-middle">
          <p>
            We'll help you establish a brand identity that is authentic, memorable, and consistent across all platforms.
          </p>
        </div>
        <div id="card-bottom">
          <a href="#">View more</a>
        </div>
      </div>

      <div id="card1 border border-solid border-black-500">
        <div class="card-img">
            <img src="{{ "/img/services/branding.jpg" | absURL }}" alt="Logo">
            
        </div>
        <h1 class="card-title">Branding</h1>
        <div class="card-middle">
          <p>
            We'll help you establish a brand identity that is authentic, memorable, and consistent across all platforms.
          </p>
        </div>
        <div id="card-bottom">
          <a href="#">View more</a>
        </div>
      </div>
    </div>
  </div>


  <div class="card-section">
    <div id="card-up">
      <div id="card1 card-border border border-solid border-black-500">
        <div class="card-img">
            <img src="{{ "/img/services/uiux.jpg" | absURL }}" alt="Logo">
        </div>
        <h1 class="card-title">UI/UX design</h1>
        <div class="card-middle">
          <p>
            Our team will develop a website that is fast, secure, and optimized for search engines.
          </p>
        </div>
        <div id="card-bottom">
          <a href="#">View more</a>
        </div>
      </div>

      <div id="card1 border border-solid border-black-500">
        <div class="card-img">
            <img src="{{ "/img/services/webdev.jpg" | absURL }}" alt="Logo">
        </div>
        <h1 class="card-title">Website development</h1>
        <div class="card-middle">
          <p>
            We'll help you establish a brand identity that is authentic, memorable, and consistent across all platforms.
          </p>
        </div>
        <div id="card-bottom">
          <a href="#">View more</a>
        </div>
      </div>

      <div id="card1 border border-solid border-black-500">
        <div class="card-img">
            <img src="{{ "/img/services/branding.jpg" | absURL }}" alt="Logo">
            
        </div>
        <h1 class="card-title">Branding</h1>
        <div class="card-middle">
          <p>
            We'll help you establish a brand identity that is authentic, memorable, and consistent across all platforms.
          </p>
        </div>
        <div id="card-bottom">
          <a href="#">View more</a>
        </div>
      </div>
    </div>
  </div>



</div>
