{{ define "main"}}

<div class="page">

    
<!-- This will output title from config.toml -->
<!-- <h1> {{ .Site.Title }} </h1> -->


<!-- Adding the partials components -->
<!--  we can even do header instead of header.html -->
{{- partial "header.html" . -}}
{{- partial "aboutUs.html" . -}}
{{- partial "quote.html" . -}}
{{- partial "portfolio.html" . -}}
{{- partial "services.html" . -}}

<!-- this is subtitle from content/_index.md -->

<!-- {{ if .Params.subtitle}}

{{ .Params.subtitle }}  

{{ end }} -->

</div>
{{ end }}